HOST_IP=127.0.0.1
HTTPS_PORT=8443
TURN_PORT=3478
TURN_TLS_PORT=5349
TURN_MIN_PORT=50000
TURN_MAX_PORT=50100
TURN_REALM=localhost
TURN_USERNAME=username
TURN_PASSWORD=password
SSL_CERTFILE=./cert.pem
SSL_KEYFILE=./key.pem
SSL_PASSWORD=
